.works-style{
    margin-top: 87px;
    text-align: center;
}
.works-style div{
    background: rgb(0, 255, 149);
    text-align: center;
    margin: 0px 300px;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0 10px 15px 0 rgb(0 0 0 / 30%);
}